/bin
/wc_Thread[pool-2-thread-1,5,main].txt
/wc_Thread[pool-2-thread-2,5,main].txt
/wc_Thread[pool-2-thread-3,5,main].txt
/wc_Thread[pool-2-thread-4,5,main].txt
/wc_Thread[pool-2-thread-5,5,main].txt
/wc_Thread[pool-2-thread-6,5,main].txt
/wc_Thread[pool-2-thread-7,5,main].txt
/wc_Thread[pool-2-thread-8,5,main].txt
/wc_Thread[pool-2-thread-1,5,main].txt
